{{>header}}

{{>navbar}}

<div class="container">
    <div class="row">

        <div class="col-8">
            <h1>Página de about</h1>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Accusantium vero porro, dolorum minus maxime obcaecati praesentium eum quia debitis voluptas velit placeat, odit neque rerum tenetur dolore enim vitae dolor.</p>
        </div>

        <div class="col-4">
            <img src="/img/logo.png" alt="" class="img-thumbnail">
        </div>

    </div>
</div>

{{>footer}}

{{>scripts}}